<div class="container-fluid">

  <div class="row page-title">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%= url_for :action => :index %>" class="btn btn-default btn-sm pull-left">Cancel</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">New <%= @book.title %></h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @book.object %>"/>

    
        <div class="form-group">
          <label for="book[name]">Name</label>
          <input type="text" id="book[name]" name="book[name]" <%=
          placeholder("Name") %> class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="book[author]">Author</label>
          <input type="text" id="book[author]" name="book[author]" <%=
          placeholder("Author") %> class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="book[isbn]">Isbn</label>
          <input type="text" id="book[isbn]" name="book[isbn]" <%=
          placeholder("Isbn") %> class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="book[picture]">Picture</label>
          <input type="text" id="book[picture]" name="book[picture]" <%=
          placeholder("Picture") %> class="form-control" />
        </div>
    

    <button type="submit" class="btn btn-success btn-block">Create</button>
  </form>

</div>