<div class="container-fluid">

  <div class="row page-title">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%= url_for :action => :show, :id => @book.object %>" class="btn btn-default btn-sm pull-left">Cancel</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">Edit <%= @book.name %></h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%= url_for :action => :delete, :id => @book.object %>" class="btn btn-danger btn-sm pull-right">Delete</a>
    </div>
  </div>

  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @book.object %>"/>

    
        <div class="form-group">
          <label for="book[name]">Name</label>
          <input type="text" id="book[name]" name="book[name]" value="<%= @book.name %>" <%= placeholder( "Name" ) %> class="form-control" disabled />
        </div>
    
        <div class="form-group">
          <label for="book[author]">Author</label>
          <input type="text" id="book[author]" name="book[author]" value="<%= @book.author %>" <%= placeholder( "Author" ) %> class="form-control" disabled />
        </div>
    
        <div class="form-group">
          <label for="book[isbn]">Isbn</label>
          <input type="text" id="book[isbn]" name="book[isbn]" value="<%= @book.isbn %>" <%= placeholder( "Isbn" ) %> class="form-control" />
          <!--<a href="<%= url_for :action => :update_isbn, :id => @book.object %>">
            <span class="glyphicon glyphicon-camera"></span>
          </a>-->
        </div>
    
        <div class="form-group">
          <label for="book[picture]">Picture</label>
          <input type="text" id="book[picture]" name="book[picture]" value="<%= @book.picture %>" <%= placeholder( "Picture" ) %> class="form-control" disabled />
        </div>
    
    <button type="submit" class="btn btn-success btn-block">Update</button>
  </form>

</div>
